{% load static %}

<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTS-8">
    <meta http-equib="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <title>
        {% block title %}Incredible EAT'S{% endblock title %}
    </title>
    </head>
    <body>
        <header>
            <div class="row">
                <a href="#main-menu" class="menu-toggle" id="main-menu-toggle" aria-label="Open main menu">
                    <span class="fa-solid fa-burger" aria-hidden="true"></span>
                </a>

                <div class="logo">
                    <h1><i class="fa-solid fa-utensils"></i> Community CookBook</h1>
                    <h2>All the food that's fit to eat</h2>
                </div>
            </div>
            <nav id="main-menu" class="main-menu">
                <a href="#main-menu-toggle" class="menu-close" aria-label="main menu">
                    <span class="sr-only">Close main menu</span>
                    <span class="fa fa-close" aria-hidden="true"></span>
                </a>
                <ul>
                    <li><a href="{% url 'recipe_list' %}"  >Main Page</a></li>
                    {% if user.is_authenticated%}
                    <li><a href="{% url 'create_recipe' %}" >Create a Recipe</a></li>
                    <li><a href="{% url 'my_recipes' %}" >My Recipes</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>Hello, {{ user.username }}</li>
                    <li><a href=" {% url 'logout_user' %}"  >LogOut</a></li>
                    {% else %}
                    <li><a href=" {% url 'signup' %}"  >Sign up</a></li>
                    <li><a href="{% url 'login' %}" >LogIn</a></li>
                    {% endif %}
                </ul>
                <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>
            </nav>
        </header>
        {% block content %}{% endblock content %}
    <div class="divider"></div>
    <footer id="footer">
        Made with love by Community cookbook
    </footer>
</body>
</html>
