{% extends 'recipe/base.html' %}
{% block title %}
    {{recipe_object.title}} - Community CookBook
{% endblock title %}

{% block content %}
    <main class="skybg">
        <div class="divider"></div>
        <div class="form">
        <form method="post">
            {% csrf_token %}
            {% for field in recipe_form %}
    <div class="fieldwrapper">
        {{ field.errors }}
        <p  class="inputField">{{ field.label_tag }}<p>
        <p class="inputField"> {{ field }}</p>

    </div>
{% endfor %}
            <button type ="submit">Create</button>
</div>
        </form>
    </main>
{% endblock content %}






























{% comment %} {% load static %}

<!doctype html>
<html>
    <head>
        <title>
            {{recipe_object.title}} - Community CookBook
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a Recipe</a>
             <a href="{% url 'edit_post' %}">Edit Recipe</a>
        </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                <button type ="submit">Create</button>
            </form>
        </main>
        <footer>Made with love by Community CookBook</footer>
    </body>
</html> {% endcomment %}
