{% extends 'recipe/base.html' %}
{% block content%}
        <main>
            <form method="post">
                {% csrf_token %}
                {{ edit_form.as_p }}
                <button type="submit">Save</button>
            </form>
        </main>
{% endblock content%}
