{% extends 'recipe/base.html' %}

{% block title %}
Community CookBook Recipes
{% endblock title %}
{% block content %}
            <main>
                <div class="welcome">
                <article>
                    <h2>Welcome to community cookbook!</h2>
                <p>
                    We are excited to be share our love of cooking and baking with you. We believe food is not only a source of nourishment but also a way of bringing people together to create happy memories.
                </p>
                <p>
                    In this community, you'll find a variety of delicious recipes that are easy to follow and perfect for any occasion. Whether you're a beginner cook or a seasoned pro, we’ve got something for you. From quick and easy weeknight dinners to decadent desserts and everything in between, we’ve got you covered.
                </p>
                <p>
                    We’re passionate about experimenting with new flavors and techniques to create dishes that are both tasty and visually appealing. So, if you're looking to expand your culinary horizons and impress your family and friends with your cooking skills, you've come to the right place.
                    Thank you for joining us on this culinary adventure, and we can't wait to share our recipes with you!
                </p>
            </article>
        </div>

        <div class="divider"></div>

        <h2 class="recipes">Recipes from our users</h2>
            <div class="container">
                {% for recipe in recipe_list %}
                <figure>
                    <img
                        src="{{recipe.picture}}">
                    <figcaption>
                    <h3> <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a> </h3>
                    <p>4.3 stars</p>
                    <p>{{recipe.created_on|date:"D M d Y"}}</p>
                    </figcaption>
                </figure>
                {% endfor %}
            </div>

            </main>
{% endblock content%}
