{% extends 'recipe/base.html' %}

{% block title %}
Community CookBook Recipes
{% endblock title %}
{% block content %}
            <main class="skybg">


        <div class="divider"></div>

        <h2 class="recipes">My Recipes</h2>
            <div class="container">
                {% for recipe in recipe_list %}
                <figure>
                    <img
                        src="{{recipe.picture}}">
                    <figcaption>
                    <h3> <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a> </h3>
                    <p>4.3 stars</p>
                    <p>{{recipe.created_on|date:"D M d Y"}}</p>
                    </figcaption>
                </figure>
                {% endfor %}
            </div>

            </main>
{% endblock content%}
