:root {
    --red: #FF837D;
    --purple: #BB77F2;
    --blue: #82C5FF;
    --green: #6BE899;
    --yellow: #FAFF75;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;

}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
h1, h2, h3 {
    margin:0;
}

/*off-canvas navigation styles*/

header .row{
    display:flex;
    flex-flow: row nowrap;
    background-image: url(https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?cs=srgb&dl=pexels-pixabay-301378.jpg&fm=jpg);
    background-size:cover;

}
sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.menu-toggle {
    color: black;
    margin-right: 1rem;
}
#main-menu-toggle {
    order:2;
margin-right:0;
margin-left:auto;
}
.menu-toggle:hover,
.menu-toggle:focus {
    color: #c85028;
}
.main-menu {
    position: fixed;
    display:none;
    right: -200px;
    top: 0;
    height:100%;
    overflow-x: visible;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 999;
}
.main-menu ul {
    list-style: none;
    margin: 0;
    padding-top: 2.5em;
    /* min height adjusts height to avoid cutoff */
    min-height: 100%;
    width: 200px;
    background-color: #1a1a1a;
}
.row a {
    font-size: 3rem;
    color: #c85028;
    align-self: center;
}
.logo {
    color: #F17B06;
    margin:1rem 0 1rem 1rem;
}
.main-menu a{
    display:block;
    padding: 0.75em;
    color:white;
    text-decoration: none;
    border-bottom: 1px solid #383838;
}
.main-menu li:first-child a {
    border-top: 1px solid #383838;
}
.main-menu a:hover,
.main-menu a:focus {
    background-color: #333;
    text-decoration:overline;
}
.main-menu .menu-close {
    position: absolute;
    right:0;
    top:0;
}
.main-menu:target {
    display: block;
    right:0;
    outline: none;
    padding:0;

}

/* for anything with the class of .menu-close when the main-menu is targetted */
.main-menu:target .menu-close {
    z-index: 1001;
}
.main-menu:target ul {
    position: relative;
    z-index: 1000;
}
/* makes the whole screen a giant clickable link */
.main-menu:target + .backdrop {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0,0,0,0.85);
    cursor:default;
}


img {
    width: 100%;
}

/*Landing page*/

.welcome {
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg);
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

article {
    width: 80%;
    margin: 0 auto;
}
article h2 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
article p {
    width:80%;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.divider {
    height:10px;
    background: linear-gradient(90deg, #E8B600, #D98326);;
}
/*recipe list*/
.recipes {
    padding: 3rem, 0, 3rem, 3rem;
    margin: 1rem;
    font-size:3rem;

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    width:80%;
    margin: 3rem auto;

}

figure {
    margin: 0;
    padding: 0;
    display:flex;
    flex-flow: column nowrap;
    position: relative;
  }
  figcaption {
    background-color: rgba(0, 18, 25, 0.7);
    color: white;
    position: absolute;
    bottom:0%;
    width: 100%;
  }
  figcaption h3, figcaption p {
    margin:0;
  }
  figcaption p {
    font-size:small;
  }
  figcaption a {
    text-decoration: none;
    color: white;

  }
.container figure:first-child {
    padding:0;
    margin:0;
    border: 10px solid var(--red)
}
.container figure:nth-child(2) {
    grid-column: span 2;
    padding:0;
    margin:0;
    border: 10px solid var(--purple)
}
.container figure:nth-child(3) {
    padding:0;
    margin:0;
    border: 10px solid var(--blue)
}
.container figure:nth-child(4) {
    grid-column: span 2;
    padding:0;
    margin:0;
    border: 10px solid var(--green)
}
.container figure:nth-child(5) {
    padding:0;
    margin:0;
    grid-column: span 2;
    border: 10px solid var(--yellow)
}

/*create styling*/

.skybg {
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg);
    background-size: cover;
    height:100vh;
}
.form{
    width:100%;
}
form{
    margin-top:15vh;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 40%;
}
form button{
    border:none;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--purple);
    color: black;
    font-size: large;
}
.fieldwrapper p:first-child {
    margin:0;
    padding:0;
}
.fieldwrapper input {
    border: none;
    background-color: var(--purple);
    border-radius: 5px;
    padding-top:1rem;
}
.fieldwrapper label {
    font-size: 1.5rem;
}
.fieldwrapper textarea {
    border: none;
    background-color: var(--green);
    border-radius: 5px;
}
.inputField input{
    margin-bottom: 0px;
    margin-top: 0px;
    width:100%;
}
.inputField textarea{
    margin-bottom: 0px;
    margin-top: 0px;
    width:100%;
}

/*steps styling*/

tr:nth-child(even){
    background-color: rgba(255, 88, 63, .2)
}

#footer {
    padding: 12px 0px 0px 0px;
    background: rgb(182, 205, 112);
    position:relative;
    bottom: 0;
    height:2.5rem;
    width:100%;
    z-index: 100;

}
