{% extends 'recipe/base.html' %}
{% block title %}
Login! - community CookBook
{% endblock title %}
{% block content %}

<main>
    <h1>Login!</h1>
    <form method-"post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</main>
{% endblock content %}
